name: Build image

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  # Run daily at a specific time (e.g., 04:00 AM UTC)
  schedule:
    - cron: '0 4 * * *'

permissions:
  contents: read

env:
  FINAL_IMAGE: quay.io/coreos-devel/fedora-coreos-nvidia

jobs:
  podman_build:
    name: Podman Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        STREAM: [testing-devel, stable, 42]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Calculate image tag and base image
        id: image-tag
        run: |
          NVIDIA_DRIVER_VERSION=$(grep -e "^DRIVER_VERSION" build-args.conf | cut -d= -f2)
          FINAL_IMAGE_TAG="${{ matrix.STREAM }}-${NVIDIA_DRIVER_VERSION}"
          BASE_IMAGE="quay.io/fedora/fedora-bootc"
          if [ "${{ matrix.STREAM }}" != "42" ]; then
            FINAL_IMAGE_TAG="coreos-${{ matrix.STREAM }}-${NVIDIA_DRIVER_VERSION}"
            BASE_IMAGE="quay.io/fedora/fedora-coreos"
          fi
          echo "tag=$FINAL_IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "driver_version=$NVIDIA_DRIVER_VERSION" >> $GITHUB_OUTPUT
          echo "base_image=$BASE_IMAGE" >> $GITHUB_OUTPUT

      - name: Podman Login to Quay
        # This step uses the secret and is executed before pushing
        if: github.event_name == 'push' || github.event_name == 'schedule'
        run: |
          # Use "echo" and pipe the secret to "podman login --password-stdin"
          # This avoids exposing the secret in command logs.
          echo "$PASSWORD" | podman login --username $USERNAME --password-stdin quay.io
        env:
          USERNAME: "${{ secrets.QUAY_USERNAME }}"
          PASSWORD: "${{ secrets.QUAY_TOKEN }}"

      - name: Build the builder image
        run: |
          source build-args.conf
          podman build --build-arg-file build-args.conf --build-arg STREAM="${{ matrix.STREAM }}" --build-arg BASE_IMAGE="${{ steps.image-tag.outputs.base_image }}" -f Containerfile.builder -t $BUILDER_IMAGE

      - name: Build FCOS image with NVIDIA bits
        run: |
          source build-args.conf
          podman build --build-arg-file build-args.conf --build-arg STREAM="${{ matrix.STREAM }}" --build-arg BASE_IMAGE="${{ steps.image-tag.outputs.base_image }}" -f Containerfile -t $FINAL_IMAGE:${{ steps.image-tag.outputs.tag }}

      - name: Sanity-check
        run: |
          podman run --rm $FINAL_IMAGE:${{ steps.image-tag.outputs.tag }} echo hello

      - name: Push image to Quay
        if: github.event_name == 'push' || github.event_name == 'schedule'
        run: |
          podman push $FINAL_IMAGE:${{ steps.image-tag.outputs.tag }}
